html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

main {
  padding: 3rem;
}

.expense-form,
.input-container,
.expense-table,
.row {
  display: flex;
}

.expense-form {
  align-items: end;
  gap: 1rem;
}
label {
  font-size: 1rem;
}
.input-container {
  position: relative;
  flex-direction: column;
  gap: 5px;
}

.input-container:before {
  color: red;
  font-size: 0.7rem;
  position: absolute;
  top: 100%;
  height: 100%;
  width: 100%;
  content: attr(error);
}
input,
#add,
#expense-table {
  border: 2px solid black;
}
input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

#add {
  border-radius: 3px;
}

#expense-table {
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  margin-top: 3rem;
  border-radius: 20px;
  padding: 1rem;
  background-color: #d3d3d3;
}

#table-head,
#table-foot {
  font-weight: bold;
}

.delete {
  border: none;
  background-color: transparent;
  appearance: none;
  border-radius: px;
  cursor: pointer;
}

#expense-table span {
  padding: 0.5rem;
  margin-bottom: 10px;
  width: 200px;
}
.row {
  align-items: center;
  gap: 1rem;
  text-align: left;
  border-bottom: 2px solid black;
}

#table-foot {
  border-bottom: none;
}
